<div class="card-container">
    <!-- TODO: Crear componente card y llamarlos para evitar repetir código -->
    <div class="card">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nobis ullam repudiandae temporibus, nulla iste omnis? Quia sunt vero, aperiam sit dolores recusandae veniam itaque at necessitatibus facilis voluptatibus deleniti?
            <u>comunicaciones@cdtcreatic.com</u>
        </p>
    </div>
    <div class="card card-2">
       <img src="../../../../assets/imagenes/logo.png" alt="logo-creatic">
    </div>
   
</div>